@import url(./fonts.css);
@import url(./fontello.css);

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}



/* 숨김 콘텐츠 */
.a11y-hidden,
legend {
    /* utility class */
    position: absolute;
    width: 1px;
    height: 1px;
    /*최소한 값을 줘야 커서가 포인팅 됨*/
    margin: -1px;
    clip: rect(0 0 0 0);
    /*clip-path가 먹지 않는 구형 브라우저용*/
    clip: rect(0, 0, 0, 0);
    /*clip-path가 먹지 않는 구형 브라우저용*/
    clip-path: inset(50%);
    /* clip-path: polygon(0 0, 0 0, 0 0); */
    overflow: hidden;
}

body {
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    font-weight: 400;
    margin: 0;
}

/* 스킵 네비게이션 */
.skip-navigation {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #000;
    text-align: center;
    z-index: 10;
}

.skip-navigation a {
    position: absolute;
    padding: 15px;
    color: #fff;
    font-size: 0.875rem;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    overflow: hidden;
    outline-offset: -10px;
}

.skip-navigation a:focus {
    position: static;
    width: auto;
    height: auto;
    clip: initial;
    clip-path: initial;
    margin: initial;
    display: inline-block;
}

/* .skip-navigation {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background-color: #000;
    text-align: center;
    z-index: 9999;
    font-size: 0.75rem;
    color: #fff;
}

.skip-navigation:focus-within {
    top: 0;
}

.skip-navigation a {
    display: inline-block;
    padding: 5px 10px;
    margin: 10px 0;
    border: 1px solid currentColor;
    border-radius: 5px;
} */

.container {
    background: url(./images/bg_flower.png) no-repeat 50% 0, #eee linear-gradient(#ccc 0%, #eee 35%, #fff 65%, #fff 100%);
}

.header,
.visual,
.main,
.slogan,
.footer {
    width: 940px;
    margin: 0 auto;
}

.header {
    background-color: #fff;
    position: relative;
    padding: 0 30px;
    border-radius: 0 0 15px 15px;
}

.logo {
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    top: 45px;
    left: 65px;
    font-size: 1rem;
    line-height: 1;
}

.logo a,
.logo img {
    display: block;
}

/* 안내 링크 */
.member-service {
    /* display: flex;
    justify-content: flex-end; */
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 0;
    line-height: 0;
    text-align: right;
    padding: 2px 0;
    /* margin-right: -10px; */
    /* position: relative;
    right: -10px; */
}

.member-service li {
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1.15;
}

.member-service li a {
    display: inline-block;
    padding: 8px;
    text-transform: uppercase;
}

.member-service li:nth-child(n+2):before {
    content: ':';
}

.member-service li:last-child a {
    padding-right: 0;
}

/* 메인 메뉴 */
.navigation {
    padding: 5px 0 45px;
}

.menu {
    /* background-color: orange; */
    background: #e85b2c linear-gradient(to bottom, #e8882e 0%, #e85b2c 35%, #e85b2c 70%, #e8882e 100%);
    margin: 0;
    padding-left: 225px;
    list-style: none;
    /* display: flex; */
    height: 45px;
    box-shadow: 0 -2px 0 0 #000;
    border-radius: 0 0 5px 5px;
}

.menu-item {
    position: relative;
    float: left;
}

.is-active .menu-button {
    color: #ff0;
}

.menu-button {
    border: 0;
    border-left: 2px solid rgba(255, 255, 255, 0.7);
    padding: 0 19px;
    line-height: 45px;
    font-weight: 700;
    background-color: transparent;
    color: #fff;
    /* font-size: 1.0625rem; */
    font-size: 15px;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
    cursor: pointer;
    /* text-decoration: underline #000;
    text-underline-offset: 14px; */
}

.is-active .menu-button::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #000;
}

.sub-menu {
    position: absolute;
    top: 50PX;
    display: none;
    margin: 0;
    padding-left: 0;
    list-style: none;
    white-space: nowrap;
}

.menu-html,
.menu-css,
.menu-standards {
    left: 0;
}

.menu-accessibility,
.menu-qna,
.menu-archive {
    right: 0;
}

.is-active .sub-menu {
    display: block;
}

.sub-menu li {
    display: inline-block;
}

.sub-menu a {
    display: inline-block;
    padding: 8px 0;
    margin-right: 10px;
    ;
}

.sub-menu a::before {
    content: '\f192';
    font-family: 'fontello';
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}

.sub-menu a:hover,
.sub-menu a:focus {
    color: #f00;
}

.sub-menu a:hover::before,
.sub-menu a:focus::before {
    content: '\e800';
}

@keyframes moveEffect {
    0% {
        font-size: 12px;
        color: rgba(0, 0, 0, 0);
        transform: translate(0, 0);
    }

    100% {
        font-size: 24px;
        color: rgba(0, 0, 0, 1);
        transform: translate(400px, 75px);
    }
}

@keyframes fadeEffect {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.visual {
    height: 120px;
    position: relative;
}

.visual::before,
.visual::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    animation: fadeEffect 2000ms infinite alternate;
}

.visual::before {
    background-image: url(./images/ani_flower_01.png), url(./images/ani_flower_02.png);
    background-position: 0 -10px, 670px 0;
}

.visual::after {
    background-image: url(./images/ani_flower_03.png), url(./images/ani_flower_04.png);
    background-position: 300px 0, 800px 0;
    animation-delay: 1000ms;
}

.visual-text {
    display: inline-block;
    animation-name: moveEffect;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;
    margin: 0;
}

.main {
    background-color: #fff;
    display: flow-root;
    padding: 30px 15px;
    min-height: 450px;
    border-radius: 15px 15px 0 0;
}

.group {
    margin: 0 15px;
    float: left;
}

.group1 {
    width: 250px;
}


.group2 {
    width: 380px;
}

.group3 {
    width: 190px;
}

/* 로그인 */
.login {
    background: radial-gradient(circle at right top, #e8882e, #e85b2c);
    border-radius: 5px;
    box-shadow: 5px 5px 0 0 #ccc;
    padding: 10px;
}

.login .login-heading {
    margin: 0 0 10px 10px;
    font-size: 1rem;
    color: #ff0;
}

.login-form {
    background: #fff;
    padding: 10px 10px 0 10px;
    border-radius: 5px 5px 0 0;
}

.login fieldset {
    position: relative;
    padding: 0 0 10px 0;
    border: 0;
    border-bottom: 1px solid #ccc;
}

.user-password {
    margin-top: 5px;
}

.login-form label {
    display: inline-block;
    font-size: 0.8125em;
    width: 4em;
}

.login-form input {
    width: 100px;
    height: 22px;
    border: 1px solid #ccc;
    padding-left: 0.5em;
    vertical-align: top;
}

.button-login {
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(241, 95, 16);
    border: 1px solid #e8882e;
    color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    font-size: 12px;
}

.sign {
    margin: 0;
    list-style: none;
    background: #fff;
    padding: 10px 10px 10px 10px;
    border-radius: 0 0 5px 5px;
    font-size: 0.8125rem;
}

.sign a::before {
    color: rgb(241, 95, 16);
    content: '\e803';
    font-family: 'fontello';
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}

.sign::after {
    content: '';
    display: block;
    clear: both;
}

.signup {
    float: left;
}

.find {
    float: right;
}

/* 유효성 검사 배너 */
.validation-list {
    margin: 25px 0 0 0;
    padding-left: 0;
    list-style: none;
}

.validation-list a {
    display: block;
    padding: 6px 10px 6px 45px;
    background: url(./images/validation_icon.png) no-repeat 20px 50%, #eee linear-gradient(to bottom, #ccc, #eee);
    margin-top: 10px;
    border: 1px solid #aaa;
    border-radius: 20px;
}

.validation-list a:hover,
.validation-list a:focus {
    color: #f00;
}

/* 웹 관련 용어 */
.term {
    background: #ccc linear-gradient(to bottom, #ccc, #eee);
    border: 1px solid #aaa;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 5px;
}

.term-heading {
    margin: 0;
    font-size: 1rem;
}

.term-list {
    margin: 10px 0 0 0;
}

.term-list>div {
    margin: 10px 0;
    ;
}

.term-list>div::after {
    content: '';
    display: block;
    clear: both;
}

.term-list dd {
    margin-left: 0;
}

.term-list-subject,
.term-list-brief {
    float: right;
    width: 145px;
}

.term-list-subject {
    line-height: 1;
    color: #277684;
    margin-bottom: 5px;
    /* margin-top: -3px; */
}

.term-list-thumbnail {
    float: left;
}

.term-list-thumbnail img {
    vertical-align: top;
}

.term-list-brief {
    line-height: 1.2;
    font-size: 0.875rem;
}

.even {
    margin-top: 10px;
}

.even .term-list-subject,
.even .term-list-brief {
    float: left;
}

.even .term-list-thumbnail {
    float: right;
}

/* display : flex 사용할 경우 */
/* .term-list {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    padding-left: 73px;
}
.term-list dd {
    margin-left: 0;
}
.term-list-subject {
    margin-bottom: 5px;
    margin-top: -2px;
}
.term-list-subject a{
    color: #296897;
}
.term-list-thumbnail{
    position: absolute;
    top:0;
    left: 0;
} */

/* 검색영역 */
.search-form {
    padding: 15px 20px 10px;
    border: 1px solid #aaa;
    border-bottom-color: #fff;
    border-radius: 15px 15px 0 0;
    background: #ccc linear-gradient(#ccc, #eee);
    font-size: 0.875rem;
}

.search-form * {
    vertical-align: middle;
}

.search-form fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.search-form label {
    /* line-height: 1; */
}

.search-form input {
    appearance: none;
    border: 1px solid #aaa;
    height: 22px;
    border-radius: 2px;
    padding: 1px 1px 1px 5px;
    margin: 0 10px;
    width: 202px;
}

.button-search {
    border: 0;
    padding: 0 10px;
    border-radius: 2px;
    background-color: #000;
    color: #fff;
    height: 22px;
    font-size: 0.75rem;
}

/* 공지사항 및 자료실 */
.board {
    margin-top: 20px;
    position: relative;
}

.board ul,
.board .more {
    display: none;
}

.is-active ul,
.is-active .more {
    display: block !important;
}

.board .tab {
    position: absolute;
    top: 0;
    background: #ccc linear-gradient(#ccc, #eee);
    color: #666;
    padding: 5px 10px;
    border: 1px solid #aaa;
    border-radius: 5px 5px 0 0;
    font-size: 0.875rem;
}

.board .notice .tab {
    left: 0;
}

.board .pds .tab {
    left: 77px;
}

.is-active .tab {
    background: #fff !important;
    color: #e85b2c !important;
    border-color: #e85b2c #e85b2c #fff #e85b2c;
}

.board ul {
    padding: 35px 0 0 0;
    list-style: none;
    margin: 0;
}

.board ul li {
    margin-top: 10px;
    font-size: 0.875rem;
    display: flex;
}

.board ul a {
    flex-grow: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.board .more {
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 8px;
}

.more {
    font-size: 0.875rem;
}

.more .icon-plus {
    color: hsla(110, 70%, 30%, 1);
}

/* 바름 */
/* .board section.is-active .tab{
    background: #fff;
    border-color: #f00;
    border-bottom-color: #fff;
}
.board section.notice.is-active .tab{
    border-right: 0;
}
.board section.pds.is-active .tab{
    border-left: 0;
}

.board section.is-active ul {
    display: block;
}

.board section.is-active .more {
    display: block;
}

.board section .tab {
    border: 1px solid #aaa;
    padding: 5px;
    background: #ccc linear-gradient(#ccc, #eee);
    border-radius: 5px 5px 0 0;
    color: #333;
    cursor: pointer;
}

.board section ul {
    display: none;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 0;
    padding-left: 0;
}

.board section ul li {
    display: flex;
    justify-content: space-between;
}

.board section ul li+li {
    margin-top: 10px;
}

.board section ul li a {
    flex: 1 auto;
    margin-right: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.board section .more {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

.board .pds .tab {
    position: absolute;
    top: 0;
    left: 64px;
} */

/* 새소식 */
.news {
    /* background: yellow; */
    margin-top: 20px;
    position: relative;
}

.news::before {
    content: '';
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #ccc, #eee, #fff);
}

.news-heading {
    margin: 0;
    font-weight: 700;
    font-size: 0.9375rem;
    color: #e85b2c;
    margin-bottom: 35px;
}

.news-article {
    position: relative;
    padding-left: 130px;
    font-size: 0.875rem;
}

.news-article-subject {
    margin: 0 0 3px 0;
    font-weight: 700;
    font-size: inherit;
}

.news-article-brief {
    margin: 10px 0 0 0;
    line-height: 1.5;
}

.news-article-thumbnail {
    margin: 0;
    position: absolute;
    top: 2px;
    left: 0;
    text-align: center;
}

.news-article-thumbnail img {
    vertical-align: top;
    box-shadow: 0 15px 10px 5px rgba(0, 0, 0, 0.3);
}

.news-article-thumbnail figcaption {
    margin-top: 15px;
}

.news .more {
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 8px
}

/* 신규 이벤트 및 관련 사이트 */
.gradient-box {
    border: 1px solid #aaa;
    border-radius: 5px;
    background: #ccc linear-gradient(#ccc, #eee);
    padding: 10px;
}

.accent-color {
    color: #e85b2c;
}

.event {
    position: relative;
    font-size: 0.875rem;
}

.event-heading {
    margin: 0;
    font-weight: 700;
    font-size: 0.9375rem;
}

.event-thumbnail {
    margin: 10px 0 0 0;
}

.event-thumbnail img {
    vertical-align: top;
    border: 1px solid #aaa;
    box-shadow: 5px 5px 0 0 #aaa;
}

.event-brief {
    margin: 10px 0;
}

.event-brief em {
    font-style: normal;
}

.event-button-group {
    position: absolute;
    top: 0;
    right: 0;
    height: 18px;
    overflow: hidden;
}

/* .event-button-prev, 
.event-button-next {
} */

.event-button-group button {
    width: 19px;
    height: 0;
    padding: 18px 0 0 0;
    border: 0;
    /* background: url(./images/back_forward.png) no-repeat; */
    background-image: url(./images/back_forward.png);
    background-repeat: no-repeat;
    cursor: pointer;
    appearance: none;
}

.event-button-next {
    background-position: -36px 0;
}

.related {
    font-size: 0.875rem;
    border-top: 1px solid #aaa;
}

.related-heading {
    margin: 10px 0;
    font-weight: 700;
    font-size: 0.9375rem;
}

.related-list {
    padding-left: 0;
    margin: 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    height: 27px;
    overflow: hidden;
    transition: height 400ms;
    transition: all 0.4s;
}

.related-list:hover,
.related-list:focus {
    height: 147px;
    padding: 10px 0;
}

.related-list a {
    display: block;
    line-height: 25px;
    text-indent: 1.5em;
}

.related-list a:focus {
    outline-offset: -3px;
}

/* 인기 사이트 */
.favorite {
    position: relative;
    margin-top: 20px;
    font-size: 0.875rem;
}

.favorite-heading {
    margin: 0 0 10px;
    font-size: 0.9375rem;
    font-weight: 700;
}

.favorite-list {
    padding-left: 0;
    margin: 0;
    list-style: none;
    counter-reset: none;
}

.favorite-list li {
    position: relative;
    margin-top: 5px;
    padding-right: 14px;
    counter-increment: number;
}

.favorite-list li::before {
    content: counter(number);
    display: inline-block;
    margin-right: 5px;
    padding: 2px 5px;
    background: #aaa;
    border-radius: 4px;
    color: #fff;
    font-size: 0.75rem;
}

.favorite .up,
.favorite .stop,
.favorite .down {
    position: absolute;
    top: 50%;
    right: 0;
    /* 구형 브라우저일 경우 네거티브 마진으로 처리 가능 */
    margin-top: -6px;
    /* transform: translateY(-50%); */
    /* float: right; */
    font-style: normal;
    width: 9px;
    height: 11px;
    text-indent: 9px;
    white-space: nowrap;
    overflow: hidden;
    background-image: url(./images/rank.png);
    background-repeat: no-repeat;
}

.favorite .stop {
    background-position: 0 50%;
}

.favorite .down {
    background-position: 0 100%;
}

.favorite .more {
    position: absolute;
    padding: 8px;
    top: 2px;
    right: 2px;
}

/* 슬로건 */
.slogan {
    position: relative;
    padding: 0 100px 0 150px;
    font-size: 0.875rem;
}

.solgan-heading {
    margin: 0;
    position: absolute;
    bottom: -25px;
    left: 30px;
    width: 110px;
    height: 83px;
    line-height: 83px;
    text-align: center;
    font-size: 0.875rem;
}

.solgan-heading::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./images/coffee.png) no-repeat center center;
}

.slogan-content {
    margin: 0 0 10px;
    color: #988574;
    /* line-height: 1.5; */
}

.slogan q::before {
    font-size: 3.5rem;
    position: relative;
    top: 0.5em;
}

.slogan q::after {
    display: none;
}

/* 푸터 */
.footer-bg {
    background: #eee linear-gradient(#ccc 0%, #eee 35%, #eee 50%, #fff 100%);
    font-size: 0.875rem;
}

.footer {
    /* background-color: yellow; */
    position: relative;
    padding: 10px 100px 10px 150px;
}

.footer-logo {
    position: absolute;
    top: 35px;
    left: 30px;
}

.guide-list {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    background: #7b8385;
    padding: 0 20px;
    border-radius: 20px;
    color: #fff;
    text-transform: uppercase;
}
.guide-list li{
    padding:0 2px;
}

.guide-list a {
    display: block;
    padding: 7px 10px;
}

.address {
    margin:15px 0 5px;
    font-style: normal;
}

.copyright{
    font-size: 1em;
}
.badge {
    position: absolute;
    top: 10px;
    right: 0;
}