@import url(./fonts.css);

*,
*::before,
*::after {
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
body {
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    font-weight: 400;
    margin: 0;
}

.container {
    background-color: gray;
}

.header,
.visual,
.main,
.slogan {
    width: 940px;
    margin: 0 auto;
}

.header {
    background-color: #fff;
    position: relative;
    border-radius: 0 0 15px 15px;
    padding: 0 30px 40px;
}

.logo {
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    top: 45px;
    left: 65px;
    font-size: 1rem;
    line-height: 1;
}
.logo a, .logo img{
    display: block;
}

/* 안내 링크 */
.member-service{
    /* display: flex;
    justify-content: flex-end; */
    list-style: none;
    margin:0;
    padding-left: 0;
    font-size: 0;
    line-height: 0;
    text-align: right;
    padding: 2px 0;
}
.member-service li{
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1.15;
}
.member-service li a{
    display: inline-block;
    padding: 8px;
    text-transform: uppercase;
}
.member-service li:nth-child(n+2):before{
    content: ':';
}
.visual {
    background-color: #023047;
}

.main {
    background-color: #a5a58d;
    display: flow-root;
    padding: 30px 15px;
    min-height: 450px;
    /* height: 50vh;
    display: flex;
    padding: 30px;
    justify-content: space-between; */
}

/* .main::after {
    content: '';
    clear: both;
    display: block;
} */

.group {
    margin: 0 15px;
}

.group1 {
    background-color: #bf9aca;
    float: left;
    width: 250px;
}

.group2 {
    background-color: #c7e8f3;
    width: 380px;
    float: left;
}

.group3 {
    background-color: #8e4162;
    width: 190px;
    float: left;
}

.slogan {
    background-color: #006d77;
}

.footer {
    background-color: #dfe7fd;
}